$containerWidth: 940px;
$baseFontSize: 18px;

//color
$grey: #F5F5F5;
$white: #FFFFFF;

//z-indexes

$z-fixed-menu: 100;

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"); 

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');
@import "layout";

//components    

@import "components/hero";
@import "components/header";
@import "components/features";
@import "components/feature";
@import "components/btn";
@import "components/section";
@import "components/headline";
@import "components/benefits";
@import "components/benefit";
@import "components/benefits-section";
@import "components/reviews";
@import "components/interactive-avatar";
@import "components/reviews__switcher";
@import "components/reviews-section";
@import "components/form";
@import "components/order-section";
@import "components/radio";
@import "components/fixed-menu";