.benefit {
    text-align: center; 
}

.benefit__image-wrapper {
    display: inline-block;
    width: 126px;
    height: 126px;
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 24px;
}

.benefit__icon {
    width: 75px;
    height: 69px;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50, -50);
}

.benefit_title {
    margin-bottom: 7px;
}