.hero {
    background-color: $grey;
    height: 100vh;
    min-height: 650px;
    color:  #292929;
    position: relative;

    &:before {
        position: absolute;
        bottom: -30px;
        right: 5%;
        content: url("/img/rectangle.png");
    }
}

.hero__title-section {
    width: 36%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 70px 0;
    background: url(/img/Ellipse.png) right center / 50% auto no-repeat;
}

.hero__main-title {
    font-size: 48px;
    line-height: 52px;
    font-weight: bold;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 36px;
}