.reviews__display {
    background: #F8FAF9;
    padding: 50px 45px 34px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;

    &:before {
        content: "";
        width: 90px;
        height: 90px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -65px;
    }

}

.reviews__display-inner {
    display: flex;
}

.reviews__avatar {
    width: 253px;
    height: 264px;
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__content {
    flex: 1;
    margin-left: 20px;
}

.reviews__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 27px;
    color: #292929;
}

.reviews__text {
    margin-bottom: 38px;
}

.reviews__author {
    font-size: 18px;
    font-weight: bold;
    color: #292929;
}